workflows/daily_lunch_newsletter.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        50,
        150
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hours": [
                1
              ],
              "minutes": [
                0
              ]
            }
          ]
        },
        "timezone": "Asia/Seoul"
      },
      "id": "2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        150
      ]
    },
    {
      "parameters": {
        "functionCode": "// create one item per topic with RSS url\nconst mapping = {\n  '국내정치': 'https://rss.donga.com/politics.xml',\n  '국외정치': 'https://rss.donga.com/foreign.xml',\n  '호주이민': 'https://www.smh.com.au/rss/feed.xml',\n  '호주': 'https://www.abc.net.au/news/feed/51120/rss.xml',\n  '대한민국': 'https://rss.donga.com/total.xml',\n  'AI및SW': 'https://rss.feedburner.com/TechCrunch/'\n};\nreturn Object.keys(mapping).map(t=>({json:{topic:t,rssUrl:mapping[t]}}));"
      },
      "id": "3",
      "name": "Create Topics",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        150
      ]
    },
    {
      "parameters": {
        "url": "={{$json.rssUrl}}",
        "returnData": "allEntries",
        "options": {}
      },
      "id": "5",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        850,
        150
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "functionCode": "// filter items by topic keyword\nconst topic = items[0].json.topic.toLowerCase();\nreturn items.filter(item=>{const title=(item.json.title||'').toLowerCase(); const desc=(item.json.content||item.json.description||'').toLowerCase(); return title.includes(topic)||desc.includes(topic);});"
      },
      "id": "6",
      "name": "Filter Items",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1050,
        150
      ]
    },
    {
      "parameters": {
        "functionCode": "// propagate topic and pick up title/content\nconst topic = items[0].json.topic||''; return items.map(i=>({json:{topic, title:i.json.title, content:i.json.content||i.json.description}}));"
      },
      "id": "7",
      "name": "Format Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1250,
        150
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Create Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Topics": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Filter Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Items": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Asia/Seoul"
  },
  "name": "Daily Lunch Newsletter",
  "description": "매일 13시(KST)에 지정된 주제별 뉴스 기사(제목+내용)를 수집하여 식사시간에 읽기 쉽도록 구성",
  "versionId": "1"
}